html
    head
        include partials/head
    body
        h3 Hello World
        ul(class = "dropdown-menu")
            -for(i=0;i<users.length;i++){
                li #{users[i].Name}
                -}