body {
    padding-top: 50px;
}
.contents {
    border-radius: 5px;
}
.well p {
	font-size: 16px;
	font-weight: bold;
}
#sortable {
    list-style: none; 
    margin: 0; 
    padding: 0; 
    width: 60%;
}
#sortable li { 
     margin: 0 3px 3px 3px; 
     padding: 0; 
     padding-left: 1.5em; 
     font-size: 12px; 
     height: 18px; 
}
#sortable li span {
     position: absolute; 
     margin-left: -1.3em; 
}
.well .contents h3 {
    margin-top:0;
}
.well .contents p {
    font-weight: normal;
}
.well .contents img {
    height: 50px;
    width: 50px;
    border-radius: 5px;
}
.loadHidden {
    position: absolute;
    display: none;
}
pre {
    float: left;
    margin-right:15px ;
    width: 450px;
}
.well .contents .nodeImg {
    height: 300px;
    width: 450px;
}
.rightP {
    float: right;
    margin-right: 175px;
}
div .nodeImg {
    float: left;
    margin-right: 10px;
}

.well .contents .nodeBrowser {
    height: 300px;
    width: 450px;
    margin-top: 15px;
}

.well .contents .header {
    font-weight: bold;
}