body {
    padding-top: 50px;
}
.contents {
    border-radius: 5px;
}

.well p {
	font-size: 16px;
	font-weight: bold;
}
#sortable {
    list-style: none; 
    margin: 0; 
    padding: 0; 
    width: 60%;
}
 #sortable li { 
     margin: 0 3px 3px 3px; 
     padding: 0; 
     padding-left: 1.5em; 
     font-size: 12px; 
     height: 18px; 
}
 #sortable li span { 
     position: absolute; 
     margin-left: -1.3em; 
}
